/* style sheet */
.top{
    top:0;
    position:fixed;
    width:100%;
    z-index:1;
}

.navbar{
    text-align:center;
    list-style-typr:none;
    font-size:24px!important!;
    display:inline-block;
    padding:12px 24px!important!;
    text-align:right!important;
    float:left;
    width:100%;
    border:none;
    outline:0;
    background-color: rgb(100, 149, 237);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

