{% extends "opencv/base.html" %}
{% block content %}
<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-color:DodgerBlue">
  <h1 class="w3-margin w3-jumbo">Introduction</h1>
  <p class="w3-xlarge">an AI video analysis tool</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <!-- first card -->
  <div class="w3-third">
    <div class="w3-card">
      <img src="/static/project/image/visionx-logo.png" alt="logo" style="width:100%">
      <div class="w3-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
    <!-- second card -->
  <div class="w3-third">
    <div class="w3-card">
      <img src="/static/project/image/visionx-logo.png" alt="logo" style="width:100%">
      <div class="w3-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
    <!-- third card -->
  <div class="w3-third">
    <div class="w3-card">
      <img src="/static/project/image/visionx-logo.png" alt="logo" style="width:100%">
      <div class="w3-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>

<!-- Second Grid-slideshows -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content" style="max-width:800px;position:relative">
      <img class="mySlides w3-animate-opacity" src="/static/project/image/visionx-logo.png" style="width:100%">
      <img class="mySlides w3-animate-opacity" src="/static/project/image/visionx-logo.png" style="width:100%">
      <img class="mySlides w3-animate-opacity" src="/static/project/image/visionx-logo.png" style="width:100%">
      <img class="mySlides w3-animate-opacity" src="/static/project/image/visionx-logo.png" style="width:100%">

      <a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;left:0;" onclick="plusDivs(-1)">❮</a>
      <a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;right:0;" onclick="plusDivs(+1)">❯</a>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex-1].style.display = "block";
    }
</script>
{% endblock content %}

